body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-form {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.login-form h2 {
    margin-bottom: 20px;
    text-align: center;
    font-family: "Roboto Mono", monospace;
}

.login-form input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: "Roboto Mono", monospace;
}

.login-form input::placeholder {
    color: #aaa;
    font-family: "Roboto Mono", monospace;
}

.login-form button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #000000;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    font-family: "Roboto Mono", monospace;
}

.login-form button:hover {
    background-color: #000000;
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: "Roboto Mono", monospace;
}

.login-form {
    display: flex;
    flex-direction: column;
    width: 300px;
    font-family: "Roboto Mono", monospace;
}

.login-form h2 {
    margin-bottom: 20px;
    text-align: center;
}

.login-form input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-form input::placeholder {
    color: #aaa;
}

.login-form button {
    padding: 10px;
    border: none;   
    border-radius: 4px;
    background-color: #000000;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.login-form button:hover {
    background-color: #000000;
}